// slide main
.wrapContentMain
    .container-xl.containerItem
        .contentItem
            .titleItem 
                .wrapTitleItem 
                    h2.titleContentMain Dự án trung tâm thương mại toàn quốc 
            .row.rowItem
                .col-md-7.ItemListcontent
                    .infoProject
                        .countsummary
                            p Hiện đang có  
                                span 1,498&nbsp
                                | dự án
                        .selectStatus 
                            select
                                option Mới nhất
                                option Mới cập nhật
                                option Giá cao nhất
                                option Giá thấp nhất
                    .listCardProject
                        each item in data_page.card_project
                            a.itemCardProject(href='javascript:void(0);', title= item.title)
                                .wrapimgCard
                                    img(src= item.url_img_1 , alt= item.title )
                                    img(src= item.url_img_2 , alt= item.title )
                                    img(src= item.url_img_3 , alt= item.title )

                                .wrapInfoCard
                                    .tagStatus
                                        if item.statusDes
                                            label.titleStatus= item.status
                                            span= item.statusDes
                                        else 
                                            label.titleStatus= item.status
                                    h4.tagTitle= item.title
                                    .tagspecifications
                                        if item.spec_project.price
                                            span.price= item.spec_project.price

                                        if item.spec_project.acreage
                                            span.acreage= item.spec_project.acreage

                                        if item.spec_project.apartments
                                            span.apartments= item.spec_project.apartments
                                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512") 
                                                    path(d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z")

                                        if item.spec_project.towers
                                            span.towers= item.spec_project.towers

                                    p.tagAddress= item.address
                                    p.textDes= item.text
                                    
                                    if item.company
                                        .tagCompany
                                            img.companyName()
                                            | ABV
// end slide main