// slide main
.wrapContentMain
    .container-xl.containerItem
        .contentItem
            .titleItem 
                .wrapTitleItem 
                    h2.titleContentMain Dự án trung tâm thương mại toàn quốc 
            .row.rowItem
                .col-lg-8.ItemListcontent
                    .infoProject
                        .countsummary
                            p Hiện đang có&nbsp
                                span 1,498&nbsp
                                | dự án
                        .selectStatus 
                            select
                                option Mới nhất
                                option Mới cập nhật
                                option Giá cao nhất
                                option Giá thấp nhất
                    .listCardProject
                        each item in data_page.card_project
                            .itemCardProject(title= item.title)
                                .wrapimgCard
                                    a(href='detailNews.html', title= item.title)
                                        img(src= item.url_img_1 , alt= item.title )
                                        img(src= item.url_img_2 , alt= item.title )
                                        img(src= item.url_img_3 , alt= item.title )

                                .wrapInfoCard
                                    .tagStatus
                                        if item.statusUpdate
                                            label.titleStatusUpdate= item.statusUpdate
                                        else
                                            if item.status&&item.statusDes
                                                label.titleStatus= item.status
                                                span= item.statusDes
                                            else 
                                                label.titleStatus= item.status
                                    h4.tagTitle
                                        a(href='detailNews.html' title= item.title)= item.title
                                    .tagspecifications
                                        if item.spec_project.price
                                            span.price= item.spec_project.price

                                        if item.spec_project.acreage
                                            span.acreage= item.spec_project.acreage

                                        if item.spec_project.apartments
                                            span.apartments= item.spec_project.apartments
                                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512") 
                                                    path(d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z")

                                        if item.spec_project.towers
                                            span.towers= item.spec_project.towers
                                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512") 
                                                    path(d="M616 192H480V24c0-13.26-10.74-24-24-24H312c-13.26 0-24 10.74-24 24v72h-64V16c0-8.84-7.16-16-16-16h-16c-8.84 0-16 7.16-16 16v80h-64V16c0-8.84-7.16-16-16-16H80c-8.84 0-16 7.16-16 16v80H24c-13.26 0-24 10.74-24 24v360c0 17.67 14.33 32 32 32h576c17.67 0 32-14.33 32-32V216c0-13.26-10.75-24-24-24zM128 404c0 6.63-5.37 12-12 12H76c-6.63 0-12-5.37-12-12v-40c0-6.63 5.37-12 12-12h40c6.63 0 12 5.37 12 12v40zm0-96c0 6.63-5.37 12-12 12H76c-6.63 0-12-5.37-12-12v-40c0-6.63 5.37-12 12-12h40c6.63 0 12 5.37 12 12v40zm0-96c0 6.63-5.37 12-12 12H76c-6.63 0-12-5.37-12-12v-40c0-6.63 5.37-12 12-12h40c6.63 0 12 5.37 12 12v40zm128 192c0 6.63-5.37 12-12 12h-40c-6.63 0-12-5.37-12-12v-40c0-6.63 5.37-12 12-12h40c6.63 0 12 5.37 12 12v40zm0-96c0 6.63-5.37 12-12 12h-40c-6.63 0-12-5.37-12-12v-40c0-6.63 5.37-12 12-12h40c6.63 0 12 5.37 12 12v40zm0-96c0 6.63-5.37 12-12 12h-40c-6.63 0-12-5.37-12-12v-40c0-6.63 5.37-12 12-12h40c6.63 0 12 5.37 12 12v40zm160 96c0 6.63-5.37 12-12 12h-40c-6.63 0-12-5.37-12-12v-40c0-6.63 5.37-12 12-12h40c6.63 0 12 5.37 12 12v40zm0-96c0 6.63-5.37 12-12 12h-40c-6.63 0-12-5.37-12-12v-40c0-6.63 5.37-12 12-12h40c6.63 0 12 5.37 12 12v40zm0-96c0 6.63-5.37 12-12 12h-40c-6.63 0-12-5.37-12-12V76c0-6.63 5.37-12 12-12h40c6.63 0 12 5.37 12 12v40zm160 288c0 6.63-5.37 12-12 12h-40c-6.63 0-12-5.37-12-12v-40c0-6.63 5.37-12 12-12h40c6.63 0 12 5.37 12 12v40zm0-96c0 6.63-5.37 12-12 12h-40c-6.63 0-12-5.37-12-12v-40c0-6.63 5.37-12 12-12h40c6.63 0 12 5.37 12 12v40z")

                                    p.tagAddress= item.address
                                    
                                    p.textDes= item.text
                                    
                                    if item.company
                                        .tagCompany
                                            .iconCompany
                                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
                                                    path(d="M436 480h-20V24c0-13.255-10.745-24-24-24H56C42.745 0 32 10.745 32 24v456H12c-6.627 0-12 5.373-12 12v20h448v-20c0-6.627-5.373-12-12-12zM128 76c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12V76zm0 96c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40zm52 148h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12zm76 160h-64v-84c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v84zm64-172c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40zm0-96c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40zm0-96c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12V76c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40z")
                                            span= item.company.text

                .col-lg-4.ItemViewProject
                    .wrapVideo
                        .wrapTitle 
                            h4 Đánh giá dự án
                      
                        .wrapSlideMain
                            .contentSlideMain
                                .showSlideProjectNewList
                                    each item in data_page.slide_video
                                        .elementSlideMain
                                            .contentSlideMain
                                                a.wrapImgSlideMain.wrapImgResize.wrapVideoSlideMain(href='javascript:void(0);' title= item.title)
                                                    img(src= item.url_img alt= item.title_main)

                                                    .wrapTextSlideMain
                                                        .container-xl.containerTextSlideMain
                                                            .contentTextSlideMain
                                                                .titleSubSlideMain.titleSubVideo= item.title_sub
                                                    .wrapIcon 
                                                        .contentIcon
                                                            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512')
                                                                path(fill='currentColor' d='M361 215C375.3 223.8 384 239.3 384 256C384 272.7 375.3 288.2 361 296.1L73.03 472.1C58.21 482 39.66 482.4 24.52 473.9C9.377 465.4 0 449.4 0 432V80C0 62.64 9.377 46.63 24.52 38.13C39.66 29.64 58.21 29.99 73.03 39.04L361 215z')
                    
                    .wrapNewsProject
                        .wrapTitle
                            h4 Tin tức dự án

                        ul.wrapNewsList
                            each item in data_page.project_news_list
                                li.itemNewsList
                                    .wrapImgNewList.wrapImgResize
                                        a(href= item.link title= item.title)
                                            img(src= item.url_img, alt= item.title)
                                    .wrapContentNewList
                                        a.wrapTitleNewList(href= item.link title= item.title)= item.title
                                        .timeNewList= item.time                                        
// end slide main