// slide main
.wrapSlideMain
    .contentSlideMain
        .showSlideMainProject
            each item in data_page.slide_main
                .elementSlideMain
                    .contentElSlidemain
                        .wrapImgSlideMain.wrapImgResize
                            img(src= item.url_img alt= item.title_main)

                        .wrapTextSlideMain
                            .container-xl.containerTextSlideMain
                                .contentTextSlideMain
                                    span.titleStatusSlideMain
                                        if item.statusDes
                                            label.titleStatus= item.status
                                            span= item.statusDes
                                        else 
                                            label.titleStatus= item.status

                                    .titleSubSlideMain= item.title_sub

                                    .wrapDesSlideMain
                                        p !{item.text}

// end slide main

